.controls {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }

  button {
      width: 40%;
      margin: 0 auto;
  }

  #container {
    min-width: 310px;
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
  }
